@import '@/sizes.scss';

.dropdownContainer {
    border-radius: var(--border-radius);
    background-color: var(--overlay-color);
    position: relative;
    min-width: 150px;

    &[disabled] {
        pointer-events: none;
        opacity: 0.3;
    }

    .dropdownHeader {
        font-size: var(--font-size-small);
        font-weight: 400;
        color: var(--primary-color);
        text-align: left;
        font-size: var(--font-size-normal);
        background-color: rgba(255, 255, 255, 0.05);
        padding: 0.75rem 1.5rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 0.5rem;
    }

    .dropdownBody {
        background-color: #0f0d20;
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 10;
        box-shadow: 0px 0px 30px rgba(123, 91, 245, 0.37);
        border-radius: var(--border-radius);
        overflow: hidden;

        &.open {
            display: block;
        }
    }


    .dropdownItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 0.5rem;
        padding: 10px;
        font-size: var(--font-size-normal);
        color: #fff;
    }

    .dropdownBackButton {
        display: flex;
        align-items: center;
        gap: 0 0.5rem;
        padding: 10px;
        font-size: var(--font-size-normal);
        color: #fff;
    }

    .dropdownItem:hover, .dropdownBackButton:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.15);
    }

    .dropdownItemDot {
        opacity: 0;
        color: rgba(34, 179, 101, 1);
        transition: all 0.2s ease-in-out;

        &.selected {
            opacity: 1;
        }
    }
}
