@import './sizes.scss';

:root {
    --primary-foreground-color: rgba(255, 255, 255, 0.9);
    --secondary-accent-color: rgba(34, 179, 101, 1);
    --button-background-color: rgba(15, 13, 32, 1);
    --outer-glow: 0px 0px 30px rgba(123, 91, 245, 0.37);
    --border-radius: 0.75rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    outline: none;
    list-style: none;
    user-select: none;
    text-decoration: none;
    appearance: none;
    background: none;
    box-shadow: none;
    overflow: hidden;
    word-break: break-word;
    scrollbar-width: thin;
    scrollbar-color: var(--overlay-color) transparent;
}